<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>USER_LOGIN_INFO_ERROR</key>
	<string>登录信息错误</string>
	<key>USER_LOGIN_TYPE_NOT_OPEN</key>
	<string>登录类型还未开通</string>
	<key>USER_LOGIN_USERNAME_NOT_EXIST</key>
	<string>登录账号不存在</string>
	<key>USER_LOGIN_USERNAME_LOCKED</key>
	<string>用户已被锁定</string>
	<key>USER_LOGIN_WRONG_MORETHAN_5</key>
	<string>登录错误超过5次</string>
	<key>USER_LOGIN_USERNAMEPASSWORD_WRONG</key>
	<string>账号或密码错误</string>
	<key>USER_LOGIN_EMAIL_NOT_ACTIVATE</key>
	<string>邮箱未激活</string>
	<key>USER_LOGIN_PHONE_NOT_ACTIVATE</key>
	<string>手机未激活</string>
	<key>USER_REGISTER_TYPE_ERROR</key>
	<string>注册方式有误，请使用手机或邮箱！</string>
	<key>USER_REGISTER_MSG_VERIFICATION_CODE_ERROR</key>
	<string>验证码错误</string>
	<key>USER_REGISTER_INVALID_INFO</key>
	<string>请您填写有效的注册信息</string>
	<key>USER_REGISTER_TYPE_NOT_OPEN</key>
	<string>注册类型还未开通</string>
	<key>USER_REGISTER_USERNAME_NOT_BLANK</key>
	<string>用户名不能为空</string>
	<key>USER_REGISTER_PASSWORD_NOT_BLANK</key>
	<string>密码不能为空</string>
	<key>USER_REGISTER_REPASSWORD_NOT_BLANK</key>
	<string>确认密码不能为空</string>
	<key>USER_REGISTER_PASSWORD_NOT_EQUAL</key>
	<string>两次密码不一致</string>
	<key>USER_REGISTER_USERNAME_FORMAT_ERROR</key>
	<string>用户名格式不正确</string>
	<key>USER_REGISTER_USERNAME_LENGTH_ERROR</key>
	<string>用户名长度只能在6-12字符之间</string>
	<key>USER_REGISTER_USERNAME_EXIST</key>
	<string>用户名已被使用</string>
	<key>USER_REGISTER_PASSWORD_LENGTH_ERROR</key>
	<string>密码长度只能在8-20字符之间</string>
	<key>USER_REGISTER_PHONE_BLANK</key>
	<string>手机不能为空</string>
	<key>USER_REGISTER_PHONE_FORMAT_ERROR</key>
	<string>请输入正确的手机号</string>
	<key>USER_REGISTER_PHONE_EXIST</key>
	<string>手机号码已被使用</string>
	<key>USER_REGISTER_PHONE_YJF_EXIST</key>
	<string>手机号码已被其它易极付账号占用</string>
	<key>USER_REGISTER_EMAIL_BLANK</key>
	<string>邮箱不能为空</string>
	<key>USER_REGISTER_EMAIL_FORMAT_ERROR</key>
	<string>邮箱格式不正确</string>
	<key>USER_REGISTER_EMAIL_EXIST</key>
	<string>邮箱已被使用</string>
	<key>USER_REGISTER_EMAIL_YJF_EXIST</key>
	<string>邮箱已被其它易极付账号占用</string>
	<key>USER_IDENTIFY_PHONE_FORMAT_WRONG</key>
	<string>手机格式不正确</string>
	<key>USER_IDENTIFY_PHONE_BLANK</key>
	<string>手机号码不能为空</string>
	<key>USER_IDENTIFY_VALIDCODE_BLANK</key>
	<string>验证码不能为空</string>
	<key>USER_IDENTIFY_PHONE_AUTH</key>
	<string>手机认证已通过！请勿重复提交！</string>
	<key>USER_IDENTIFY_PHONE_EXIST</key>
	<string>该手机号已被人使用</string>
	<key>USER_IDENTIFY_PHONECODE_WRONG</key>
	<string>手机验证码不正确</string>
	<key>USER_IDENTIFY_PASSWORD_WRONG</key>
	<string>登录密码不正确</string>
	<key>USER_IDENTIFY_EMAIL_BLANK</key>
	<string>邮箱不能为空</string>
	<key>USER_IDENTIFY_EMAIL_FORMAT_WRONG</key>
	<string>邮箱格式不正确</string>
	<key>USER_IDENTIFY_EMAIL_AUTH</key>
	<string>邮箱认证已通过！请勿重复提交</string>
	<key>USER_IDENTIFY_EMAIL_EXIST</key>
	<string>该邮箱已被人使用，请重新输入邮箱</string>
	<key>USER_IDENTIFY_NOT_LOGIN</key>
	<string>您尚未登录，请登录</string>
	<key>USER_IDENTIFY_YJF_BINDING</key>
	<string>您的易极付账户已绑定，不能重复绑定</string>
	<key>USER_IDENTIFY_PHONE_AUTH_FIRST</key>
	<string>您需要先进行手机认证</string>
	<key>USER_IDENTIFY_EMAIL_AUTH_FIRST</key>
	<string>您需要先进行邮箱认证</string>
	<key>USER_IDENTIFY_CARDID_EXIST</key>
	<string>此实名信息已存在</string>
	<key>USER_IDENTIFY_YJF_AUTH_EXIST</key>
	<string>您在易极付已通过认证，请到PC端关联实名</string>
	<key>USER_IDENTIFY_AUTH_FAILURE</key>
	<string>实名认证失败，请稍后再试</string>
	<key>USER_PASSWORD_INFO_BLANK</key>
	<string>相关信息为空！请输入完整信息！</string>
	<key>USER_PASSWORD_LENGTH_WRONG</key>
	<string>密码长度在8到20之间！</string>
	<key>USER_PAY_PASSWORD_LENGTH_WRONG</key>
	<string>密码长度在6到20之间！</string>
	<key>USER_PASSWORD_COMPLEX_WRONG</key>
	<string>密码为字母与数字组合！</string>
	<key>USER_PASSWORD_NOT_EQUAL</key>
	<string>两次密码不一致！请重新输入</string>
	<key>USER_PASSWORD_OLD_WRONG</key>
	<string>修改失败，原密码错误</string>
	<key>TRADE_TENDER_ACCOUNT_LOCKED</key>
	<string>您账号已经被锁定，不能进行投标，请跟管理员联系</string>
	<key>TRADE_TENDER_SET_PAYPASSWORD</key>
	<string>请先设置交易密码</string>
	<key>TRADE_TENDER_PAYPASSWORD_BLANK</key>
	<string>交易密码不能为空</string>
	<key>TRADE_TENDER_PAYPASSWORD_WRONG</key>
	<string>交易密码不正确</string>
	<key>TRADE_TENDER_SYSTEM_BUSY</key>
	<string>系统繁忙，投标失败,请稍后再试！</string>
	<key>TRADE_TENDER_NOT_IN_INVEST</key>
	<string>产品抢光，钱已进入您余额</string>
	<key>TRADE_TENDER_PWD_BLANK</key>
	<string>定向密码不能为空</string>
	<key>TRADE_TENDER_PWD_WRONG</key>
	<string>定向密码不正确</string>
	<key>ORIENT_BORROW_FORBIDDEN</key>
	<string>您不能申购该定向标</string>
	<key>TRADE_TENDER_NOT_SUBSCRIBE_SELF_PRODUCT</key>
	<string>自己不能申购自己发布的理财产品</string>
	<key>TRADE_TENDER_FRANCHISEE_NOT_SUBSCRIBE_SELF_PRODUCT</key>
	<string>钱行不能申购本身代理的理财产品</string>
	<key>TRADE_TENDER_PRODUCT_TYPE_WRONG</key>
	<string>不正确的产品类型</string>
	<key>TRADE_TENDER_SUBSCRIBE_LESS_ZERO</key>
	<string>申购金额不能小于0</string>
	<key>TRADE_TENDER_LESS_THAN_LIMLIT</key>
	<string>申购金额不能小于最小限制金额额度</string>
	<key>TRADE_TENDER_LESS_THAN_ONE</key>
	<string>申购份数不能少于1份</string>
	<key>TRADE_TENDER_MORETHAN_LIMIT</key>
	<string>该理财产品已售完或您个人申购金额已达到最大申购额</string>
	<key>TRADE_TENDER_MORETHAN_USEMONEY</key>
	<string>申购金额大于您的可用金额</string>
	<key>TRADE_TENDER_SEARCH_ERROR</key>
	<string>查询处理信息错误</string>
	<key>APP_ID_NOT_NULL</key>
	<string>签约账号不能为空</string>
	<key>SERVICE_CODE_NOT_NULL</key>
	<string>服务代码不能为空</string>
	<key>SIGN_TYPE_NOT_NULL</key>
	<string>签名类型不能为空</string>
	<key>SIGN_NOT_NULL</key>
	<string>签名不能为空</string>
	<key>AUTH_ID_NOT_EXISTS</key>
	<string>签约账号不存在</string>
	<key>SERVICE_NOT_EXISTS</key>
	<string>请求服务不存在</string>
	<key>AUTH_ID_NOT_START</key>
	<string>签约账号未启用</string>
	<key>ROLE_NOT_START</key>
	<string>签约账号对应角色未启用</string>
	<key>AUTH_IP_NOT_AUTHORIZATION</key>
	<string>未授权IP没有权限访问对外接口</string>
	<key>AUTH_NOT_AUTHORIZATION_SERVICE</key>
	<string>没有权限访问该服务代码</string>
	<key>ROLE_SERVICE_NOT_START</key>
	<string>签约账号对应角色的服务未启用</string>
	<key>NOT_SUPPORT_SIGN_TYPE</key>
	<string>不支持的摘要算法类型</string>
	<key>SIGN_VALUE_NOT_NULL</key>
	<string>待签名值不能为空</string>
	<key>SIGN_CHECK_FAILURE</key>
	<string>签名校验失败</string>
	<key>SIGN_FAILURE</key>
	<string>签名失败</string>
	<key>SYSTEM_EXCEPTION</key>
	<string>系统异常</string>
	<key>REQUEST_TIMEOUT</key>
	<string>请求超时</string>
	<key>TOKEN_NOT_EXIST</key>
	<string>TOKEN不存在</string>
	<key>TOKEN_EXPIRED</key>
	<string>TOKEN已过期</string>
	<key>TOKEN_REFRESH_ERROR</key>
	<string>重新授权失败，请选择重新登录</string>
	<key>USER_FINDPASS_USERNAMEORVALIDCODE_WRONG</key>
	<string>登录名不能为空</string>
	<key>USER_FINDPASS_USER_NOT_EXIST</key>
	<string>账号不存在</string>
	<key>USER_FINDPASS_EMAIL_NOT_AUTH</key>
	<string>请先通过邮箱认证</string>
	<key>USER_FINDPASS_PHONE_NOT_AUTH</key>
	<string>请先通过手机认证</string>
	<key>USER_FINDPASS_USERNAME_TYPE_WRONG</key>
	<string>请输入正确的手机号或者邮箱</string>
	<key>USER_FINDPASS_VALIDCODE_NOT_BLANK</key>
	<string>验证码不能为空</string>
	<key>USER_FINDPASS_VALIDCODE_WRONG</key>
	<string>验证码不正确</string>
	<key>USER_FINDPASS_QUESTION_INVALID</key>
	<string>密保问题已失效，请联系管理员</string>
	<key>USER_FINDPASS_ANSWER_NOT_BLANK</key>
	<string>答案不能为空</string>
	<key>USER_FINDPASS_ANSWER_WRONG</key>
	<string>密保答案不正确</string>
	<key>USER_FINDPASS_EMAIL_BLANK</key>
	<string>邮箱不能为空</string>
	<key>USER_FINDPASS_USER_NO_EXIST</key>
	<string>用户不存在</string>
	<key>USER_FINDPASS_EMAIL_NO_AUTH</key>
	<string>请先通过邮箱认证</string>
	<key>USER_RESET_PASSWORD_NOT_BLANK</key>
	<string>密码不能为空</string>
	<key>USER_RESET_REPASSWORD_NOT_BLANK</key>
	<string>确认密码不能为空</string>
	<key>USER_RESET_PASSWORD_NOT_EQUAL</key>
	<string>两次密码不一致</string>
	<key>USER_RESET_PASSWORD_LENGTH_ERROR</key>
	<string>密码长度只能在8-20字符之间</string>
	<key> TRADE_PRODUCT_DETAIL_ERROR</key>
	<string>读取产品详细信息出错</string>
	<key>TRADE_TENDER_REDPACKET_NOT_YOURS</key>
	<string>此红包不属于您</string>
	<key>TRADE_TENDER_REDPACKET_EXCHANGED</key>
	<string>此红包已兑换</string>
	<key>TRADE_TENDER_REDPACKET_OVERDUE</key>
	<string>此红包已过期</string>
	<key>ACCOUNT_BANK_INVALID</key>
	<string>无效银行卡</string>
	<key>ACCOUNT_BANK_BANDING_FAILURE</key>
	<string>调用易极付解绑银行卡失败</string>
	<key>ACCOUNT_BANK_VALID_CARDID</key>
	<string>请输入有效银行卡号</string>
	<key>ACCOUNT_BANK_IS_BINDING</key>
	<string>银行卡已被绑定，请使用其它银行卡</string>
	<key>ACCOUNT_BANK_NOT_SUPPORT</key>
	<string>尚不支持该银行</string>
	<key>ACCOUNT_BANK_SELECT_AREA</key>
	<string>请选择银行卡办卡地省市信息</string>
	<key>ACCOUNT_BANK_ADD_FAILURE</key>
	<string>添加银行卡失败</string>
	<key>ACCOUNT_BANK_CHECK_FAILURE</key>
	<string>银行卡校验未通过</string>
	<key>ACCOUNT_BANK_PASSWORD_WRONG</key>
	<string>登录密码不正确</string>
	<key>PAYPASSWORD_WRONG</key>
	<string>交易密码不正确</string>
	<key>DEDUCT_RECHARGE_LOCAL_FAILURE</key>
	<string>代扣充值本地处理失败</string>
	<key>DEDUCT_RECHARGE_BANKID_BLANK</key>
	<string>请选择代扣银行卡</string>
	<key>DEDUCT_RECHARGE_BANKID_NOT_EXIST</key>
	<string>银行卡不存在，请联系客服</string>
	<key>DEDUCT_RECHARGE_MONEY_NOT_ZERO</key>
	<string>充值金额不能为零</string>
	<key>DEDUCT_RECHARGE_EMALL_AUTH_FIRST</key>
	<string>尊敬的用户，为了保障您的账户安全，请先通过邮箱认证</string>
	<key>DEDUCT_RECHARGE_PHONE_AUTH_FIRST</key>
	<string>尊敬的用户，为了保障您的账户安全，请先通过手机认证！</string>
	<key>DEDUCT_RECHARGE_REAL_AUTH_FIRST</key>
	<string>尊敬的用户，为了保障您的账户安全，请先通过实名认证</string>
	<key>DEDUCT_RECHARGE_YJF_AUTH_FIRST</key>
	<string>DEDUCT_RECHARGE_YJF_AUTH_FIRST</string>
	<key>DEDUCT_RECHARGE_MONEY_HIGHEST</key>
	<string>充值金额不能超过一千万</string>
	<key>WITHDRAW_BANK_CARD_BLANK</key>
	<string>请选择一张提现银行卡</string>
	<key>WITHDRAW_MONEY_LESS_THAN_100</key>
	<string>提现金额不能小于100元</string>
	<key>WITHDRAW_USEMONEY_NOT_ENOUGH</key>
	<string>可用金额不足</string>
	<key>WITHDRAW_MONEY_MORETHAN_USEMONEY</key>
	<string>输入的提现金额大于可提现总额，请核对后再提现</string>
	<key>WITHDRAW_FAILURE</key>
	<string>提现失败，请联系客服</string>
	<key>DEDUCT_RECHARGE_BANKID_OVERLIMIT</key>
	<string>已超过单笔充值额度</string>
	<key>DEDUCT_RECHARGE_BANKID_NO_SUPPORT</key>
	<string>此银行不支持代扣充值</string>
	<key>FEEDBACK_BLANK</key>
	<string>反馈不能为空</string>
	<key>FEEDBACK_WORD_LIMIT</key>
	<string>反馈超过限制150字</string>
	<key>DEDUCT_RECHARGE_FAILURE</key>
	<string>代扣充值处理失败</string>
	<key>DEDUCT_RECHARGE_PROCESSING</key>
	<string>代扣充值处理中</string>
	<key>USER_IDENTIFY_REALNAME_BLANK</key>
	<string>真实姓名不能为空</string>
	<key>USER_IDENTIFY_CARDID_BLANK</key>
	<string>身份证号码不能为空</string>
	<key>USER_IDENTIFY_IS_AUTH</key>
	<string>实名认证已通过！请勿重复提交</string>
	<key>ACCOUNT_BANK_PACTSIGN_FAILURE</key>
	<string>银行卡签约认证失败</string>
	<key>ACCOUNT_BANK_PACTAPPLY_FAILURE</key>
	<string>银行卡申请签约失败</string>
	<key>ACCOUNT_BANK_IS_BIND</key>
	<string>银行卡已签约</string>
	<key>TRADE_TENDER_NOT_NEW_HAND</key>
	<string>亲，你已经不是新手了哦，还跟他们抢啊～～</string>
	<key>USER_IDENTIFY_REAlNAME_AUTH_UNPASS</key>
	<string>未通过实名认证</string>
	<key>TRADE_TENDER_REDPACKET_OVER_LIMIT</key>
	<string>红包使用超出限制</string>
	<key>USER_LOGIN_TYPE_ERROR</key>
	<string>请您填写正确的手机号码</string>
	<key>USER_FINDPASS_CARD_ERROR</key>
	<string>身份验证不正确</string>
	<key>USER_PHONE_NOT_EXIST</key>
	<string>手机号码不存在</string>
	<key>USER_ONLINE_INFO_ERROR</key>
	<string>用户未登陆</string>
	<key>NOTFIND_USER_IN_TRADEORDER</key>
	<string>查无该用户</string>
	<key>BANK_FIND_LIST_FAILURE</key>
	<string>加载银行卡列表失败</string>
	<key>ACCOUNT_BANK_VALID_DEPOSITCARD</key>
	<string>请使用储蓄卡</string>
	<key>BANK_BIN_TENDER_FAILURE</key>
	<string>回款绑定操作失败</string>
	<key>BANK_CARD_HAS_USE</key>
	<string>对不起，该卡已被使用</string>
	<key>TRADE_TENDER_REDPACKET_OVER</key>
	<string>红包额度已超过每次投资使用限制！</string>
	<key>TRADE_TENDER_NO_BANK_CARD</key>
	<string>请选择银行卡</string>
	<key>TRADE_TENDER_BANK_CARD_NOT_BELONGTO_USER</key>
	<string>该银行卡已被使用，不属于您</string>
	<key>TRADE_TENDER_BANK_CARD_NOT_EXIST</key>
	<string>查无该银行卡</string>
	<key>SET_DEFAULT_BANKCARD_FAILURE</key>
	<string>设置默认银行卡失败！</string>
	<key>TRADE_TENDER_MORETHAN_PER_DEAL_LIMIT</key>
	<string>申购金额超过单笔限制最大金额!</string>
	<key>REAL_NAME_FORMAT_ERROR</key>
	<string>姓名格式不正确！</string>
	<key>CARD_ID_FORMAT_ERROR</key>
	<string>身份证号码格式不正确！</string>
	<key>USER_NAME_CARD_NOTEXISTS</key>
	<string>库中无此号，请到户籍所在地进行核实！</string>
	<key>USER_NAME_DIF_CARD</key>
	<string>查询的身份证号码与姓名不对应！</string>
	<key>BANK_CARD_HAS_CHECK</key>
	<string>对不起，您已添加过此卡，请勿重复添加</string>
	<key>CERTIFICATION_NUM_OVER_LIMIT</key>
	<string>您实名次数超过当前限制次数，请联系客服进行实名！</string>
	<key>TRADE_TENDER_OVER_UNHANDLE_LIMIT</key>
	<string>您有多笔申购业务正在处理，请五分钟后重试</string>
	<key>TRADE_TENDER_REDPACKET_IN_USE</key>
	<string>此红包正在使用</string>
	<key>TRADE_TENDER_HAS_FINISHED</key>
	<string>产品已被抢光,下次下手要快哦</string>
	<key>TRADE_TENDER_MORETHAN_REMAIN</key>
	<string>产品不足，钱已进入您余额</string>
	<key>CREATE_PROTOCOL_IS_FAILURE</key>
	<string>生成协议失败</string>
	<key>PAYPWD_NOT_EQUALS_LOGINPWD</key>
	<string>交易密码不能和登录密码相同</string>
	<key>CARD_ID_HAS_USED</key>
	<string>身份证已被使用！</string>
	<key>REALNAME_TIMES_OVER_LIMIT</key>
	<string>您的实名次数已达到上限，请联系客服进行实名！  </string>
</dict>
</plist>
